<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- Enlace a tu archivo CSS -->
    <!-- Incluir Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <!-- Sidebar -->
    <%- include('partials/sidebar.ejs') %>

    <div class="content container my-5">
      <h2 class="text-center mb-4">Administración de Productos</h2>

      <!-- Botón para agregar nuevo producto -->
      <div class="mb-3 text-right">
        <a href="/productos/nuevo" class="btn btn-success">Agregar Producto</a>
      </div>

      <!-- Tabla de productos -->
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Precio</th>
              <th>Stock</th>
              <th>Proveedor</th>
              <th>Categoría</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% productos.forEach(producto => { %>
            <tr>
              <td><%= producto.producto_id %></td>
              <td><%= producto.nombre %></td>
              <td><%= producto.descripcion %></td>
              <td><%= producto.precio %></td>
              <td><%= producto.stock %></td>
              <td><%= producto.proveedor_nombre || producto.proveedor_id %></td>
              <td><%= producto.categoria_nombre || producto.categoria_id %></td>
              <td>
                <!-- Botón Editar -->
                <a
                  href="/productos/editar/<%= producto.producto_id %>"
                  class="btn btn-warning btn-sm"
                  >Editar</a
                >

                <!-- Botón Eliminar -->
                <form
                  action="/productos/<%= producto.producto_id %>?_method=DELETE"
                  method="POST"
                  style="display: inline"
                >
                  <button type="submit" class="btn btn-danger btn-sm">
                    Eliminar
                  </button>
                </form>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Incluir Bootstrap JS y dependencias (jQuery y Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
